<div>
    <ul>
        <li>
            <h2>{{name}}</h2>
            <span> <img src="{{image_url}}" alt="{{name}}"></span>
            <h4>{{description}}</h4>
            <h5>{{tagline}}</h5>
        </li>
    </ul>
</div>