<h1>Random Beer</h1>

<ul>
    <li>
        
        <h2>{{randomBeer.name}}</h2>
        <h4>{{randomBeer.description}}</h4>
        <span> <img src="{{randomBeer.image_url}}" alt="random beer"></span>
        
        <p>{{randomBeer.tagline}}</p>
        <p>{{randomBeer.food_pairing}}</p>
        <p>{{randomBeer.brewers_tips}}</p>
        
    </li>
</ul>